body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#DOB {
  width: 100%;
  font-size: large;
}

#Age {
  margin-top: 1rem;
  font-size: large;
  width: 75%;
  background-color: rgb(108, 186, 250);
  border-radius: 10%;
  border: none;
}
